* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans";
  src: url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
}

.jobseeker {
  padding: 2% 5%;
}
.profile-image-jobseeker {
  margin-right: 5%;
  padding: 0;
  height: 150px;
  width: 150px;
}

.skill-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 425px) {
  .button-check-profile {
    padding: 2% 5%;
  }
}