@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.colom-chat {
  height: 500px;
}
.upperborder1 {
  height: 40px !important;
  width: 100% !important;
  border-bottom: 3px solid #a9acac;
  font-family: "Open Sans", sans-serif;
}

.bottomborder {
  margin-top: 50vh;
}
.image {
  margin-top: 30px;
  margin-left: 40px;
}
.chat-box-tray {
  background: #eee;
  display: flex;
  align-items: baseline;
  padding: 10px 15px;
  align-items: center;
  margin-top: 19px;
  bottom: 0;
}
.shadow-sm {
  display: inline-block;
}
.input {
  border: none;
  border-radius: 30px;
  width: 80%;
}
.friend-drawer {
  padding: 6px 0;

  display: flex;
  background: #fff;
  width: 100%;
  height: 40px;
}
.text3 {
  margin-left: -4px;
  width: 100%;
}
.img {
  height: 90px;
  width: 90px;
}
.profile-image {
  height: 32px;
  width: 32px;
}
.icon_inbox {
  margin-left: 10px;
}
.chat_inbox {
  display: flex;
  flex-direction: column;
}
.msg-send {
  display: flex;
  flex-direction: column;
}
.msg-item {
  margin-left: auto;
}
/* @media only screen and (max-width: 600px) {
  .cont1 {
    min-height: auto;
    display: flex;
  }
  .upperborder {
    height: 50vw !important;
    width: 100vw;
  }
  .card {
    width: 50vh !important;
  }
  .image span {
    left: 130px;
  }
} */
