@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.toast-container {
  z-index: 1070;
}
.edit-profile-recruiter {
  width: 100%;
  padding: 10% 10%;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: row;
}
.left-edit-col {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.left-edit {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: white;
  padding: 5% 10%;
  margin-bottom: 5%;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.img-recruiter {
  display: flex;
  flex-direction: column;
  margin-bottom: 20%;
}
.edit-img {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
}
.edit-icon {
  height: 70%;
  margin-right: 5%;
}
.edit-text {
  margin: 0;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 600;
  color: rgba(158, 160, 165, 1);
}
.profile-img {
  width: 150px;
}
.company-name {
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 600;
  color: rgba(31, 42, 54, 1);
  margin-bottom: 5%;
}
.company-field {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: rgba(31, 42, 54, 1);
  margin-bottom: 5%;
}
.location-company {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  align-items: center;
}
.map-pin-img {
  width: 20px;
  margin-right: 3%;
}
.address {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: rgba(158, 160, 165, 1);
  margin: 0;
}
.detail-company {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: rgba(158, 160, 165, 1);
  margin-bottom: 5%;
}
.col-button {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.save-button {
  background: rgba(94, 80, 161, 1);
  padding: 2%;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 5%;
}
.back-button {
  border: 1px solid rgba(94, 80, 161, 1);
  background-color: white;
  padding: 2%;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  color: rgba(94, 80, 161, 1);
  border-radius: 5px;
}
.right-edit-col {
  display: flex;
  flex-direction: column;
  padding-left: 3%;
}
.right-edit {
  display: flex;
  flex-direction: column;
  width: 70%;
  border-radius: 15px;
  background-color: white;
  padding: 5% 5%;
  margin-bottom: 2%;
}
.edit-title {
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 600;
  color: rgba(31, 42, 54, 1);
}
.description-label {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  color: rgba(158, 160, 165, 1);
}
.field-input::-webkit-input-placeholder {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  color: rgba(158, 160, 165, 1);
}
.field-input {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  color: rgba(31, 42, 54, 1);
  padding: 2%;
  border-radius: 5px;
  border: 1px solid rgba(226, 229, 237, 1);
  margin-bottom: 2%;
}
.field-input-area {
  width: 100%;
  height: 200px;
  padding: 2%;
  border-radius: 5px;
  border: 1px solid rgba(226, 229, 237, 1);
  margin-bottom: 2%;
}
.field-input-area::-webkit-input-placeholder {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 400;
  color: rgba(158, 160, 165, 1);
}

@media (max-width: 425px) {
  .edit-profile-recruiter {
    display: flex;
    flex-direction: column;
    padding: 35% 2% 0 2%;
  }
  .left-edit-col {
    width: 100%;
  }
  .right-edit {
    width: 100%;
    margin-top: 5%;
  }
}
