* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Open Sans";
  src: url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
}
.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
}
.navbar-search {
  margin: 0 5% 2% 5%;
  border-radius: 10px;
  padding: 1% 2%;
  background-color: white;
}
.input-searchbar {
  width: 100%;
  height: 50px;
}
/* .collapse {
  padding: 0 2%;
} */
.dropdown-searchbar {
  margin: 0 2%;
  font-size: 16px;
}
.btn-search {
  background: rgba(94, 80, 161, 1);
  border: none;
  border-radius: 5px;
  padding: 1% 3%;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 500;
  color: white;
}
.btn-search:hover {
  background-color: rgb(38, 14, 158);
}
.home {
  width: 100%;
  padding: 6% 0 0 0;
}
.main-section {
  background-color: #e5e5e5;
  padding: 2% 2%;
}
.home-bar {
  padding: 2% 8%;
  background: rgba(94, 80, 161, 1);
}
.home-bar-title {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: white;
  margin: 0;
}
.card-profile {
  display: flex;
  flex-direction: column;
  margin: 0 5% 5% 5%;
  background-color: white;
  border-radius: 15px;
}
.row-card {
  display: flex;
  flex-direction: row;
  padding: 2% 5%;
  align-items: center;
}
.profile-image {
  width: 20%;
  margin-right: 5%;
}
.description-column {
  width: 80%;
}
.card-name {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
}
.card-description {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(158, 160, 165, 1);
}
.card-location {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: rgba(158, 160, 165, 1);
}
.button-skill-jobseeker {
  border: 1px solid rgba(251, 176, 23, 1);
  background-color: rgba(251, 176, 23, 1);
  border-radius: 5px;
  margin-right: 2%;
  padding: 1% 3%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}
.button-skill:hover {
  background-color: rgb(228, 154, 6);
}
.button-check-profile {
  height: 50px;
  width: 15%;
  border-radius: 5px;
  border: none;
  background: rgba(94, 80, 161, 1);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
  align-items: center;
}
.button-check-profile:hover {
  background-color: rgb(38, 14, 158);
}
.pagination {
  margin-bottom: 3%;
}

@media (max-width: 1024px) {
  .search-text {
    height: 30px;
  }
  .category {
    height: 30px;
  }
  .search-button {
    height: 30px;
  }
}

@media (max-width: 425px) {
  .home {
    background-color: #e5e5e5;
    margin-top: 25%;
  }
  .main-section {
    padding: 3% 0;
  }
  .card-profile {
    margin: 0 3%;
  }
  .navbar-search {
    margin: 0 3% 3%;
  }
  .home-bar-title {
    font-size: 16px;
  }
  .btn-search {
    font-size: 10px;
  }
  .input-searchbar {
    height: 30px;
  }
  .dropdown-searchbar {
    font-size: 12px !important;
  }
  .form-control input {
    font-size: 12px;
  }
  .profile-image {
    width: 30%;
  }
  .description-column {
    width: 50%;
  }
  .card-name {
    font-size: 16px;
  }
  .card-description {
    font-size: 14px;
  }
  .card-location {
    font-size: 14px;
  }
  .button-skill {
    font-size: 10px;
    font-weight: 500;
  }
  .button-check-profile {
    font-size: 8px;
    padding: 1% 4%;
    width: max-content;
    height: auto;
  }
  .pagination {
    margin-top: 5%;
  }
}
