* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @font-face {
  font-family: "Open Sans";
  src: url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
} */

.profile-seeker {
  width: 30%;
  background-color: white;
  justify-content: center;
  margin: 5% 0 5% 5%;
  border-radius: 15px;
}
.col-profile-seeker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5%;
}
.img-jobseeker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10% 0;
}
.img-profile-jobseeker {
  width: 150px;
  height: 150px;
  margin-right: 3%;
  object-fit: cover;
}
.card-name {
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 2%;
}
.card-description {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  color: rgba(158, 160, 165, 1);
}
.card-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  font-size: 18px;
}
.row-card {
  padding: 0;
}
.jobseeker {
  padding: 1% 5% 0 5%;
}
.location img {
  margin-right: 1%;
  height: 5%;
}
.location p {
  align-items: center;
  margin: 0;
}
.hire-button {
  background: rgba(94, 80, 161, 1);
  color: white;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  border: none;
  padding: 5% 0%;
  border-radius: 5px;
  margin: 10% 0;
}
.hire-button:hover {
  background: rgb(46, 8, 238);
}
.list-skill {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.button-skill {
  display: flex;
  flex-direction: row;
  padding: 2% 5%;
  border: none;
  border-radius: 5px;
  margin: 2% 2%;
  background-color: orange;
  color: white;
  font-size: 14px;
}
.social-media {
  margin-bottom: 20%;
}
.social-media-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5%;
}
.social-media-input img {
  margin: 0 5% 0 0;
}

@media (max-width: 425px) {
  .profile-seeker {
    width: 100%;
    margin: 0;
  }
  .card-name {
    font-size: 18px;
  }
  .description {
    font-size: 8px;
  }
  .location img {
    height: 3%;
  }
  .hire-button {
    font-size: 12px;
  }
  .button-skill {
    font-size: 8px;
  }
  .social-media-img {
    height: 15px;
  }
  .profile-image-jobseeker {
    width: 100px;
    height: 100px;
    margin-right: 2%;
  }
  .card-location {
    font-size: 10px;
  }
  .card-description {
    font-size: 10px;
    margin-bottom: 3%;
  }
  .row-card {
    padding: 0;
  }
  .jobseeker {
    padding: 2% 2%;
  }
}
