.header--button--nav--notLogin__style button:first-child {
  background-color: transparent;
  border: 1px solid var(--purple) !important;
  color: var(--purple);
}

.header--button--nav--notLogin__style button:last-child {
  background-color: var(--purple);
  border: 1px solid var(--purple) !important;
  color: white;
}

.mobile__style {
  background: white;
  position: fixed;
  border-bottom-right-radius: 20px;
  height: 10vh !important;
}

.header--wave {
  display: none;
}

.header--icon {
  cursor: pointer;
}

.header--image--popup__size {
  background-image: url("../../assets/vectors/rectangle.png");
  height: 20vh;
  background-size: cover;
  /* background: red; */
  /* background: red; */
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  top: 30px;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.188);
  /* right: 1px; */
  left: -100px;
  z-index: 1;
  position: absolute;
}

.nav-item {
  position: relative;
}

.header--icon--lggedin__size {
  width: 80%;
  cursor: pointer;
}

.navbar--button {
  /* background-color: #5e50a1; */
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #5c5b5b;
  cursor: pointer;
}

.header--container__height {
  height: 10vh !important;
  border-bottom-right-radius: 0;
}

.header--toggle--profile__popup {
  position: absolute;
  list-style: none;
  width: 10vw;
  left: -20px;
  height: auto;
  top: 30px;
}

@media only screen and (max-width: 560px) {
  .header--icon--lggedin__size {
    display: none;
  }

  .header--container__height {
    height: 20vh;
  }

  .header--bottom--nav__container {
    position: -webkit-sticky;
    position: fixed;
    bottom: 0;
    height: 10vh;
    width: 100vw;
    background: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.264);
    padding: 50px;
    font-size: 20px;
    border-radius: 30px;
  }

  .mobile__none {
    display: none;
  }

  .navbar-brand {
    height: 9vh;
  }
  .navbar__logo {
    object-fit: fill;
    height: 9vh !important;
  }
  .navbar__title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 56px;
    color: #5e50a1 !important;
    text-decoration: none;
  }
  .header--logo--image__size img {
    width: 20vw !important;
  }

  .mobile__style {
    background-image: url("../../assets/images/header_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-bottom-right-radius: 20px;
    padding-top: 5rem;
    width: 100vw !important;
    padding-bottom: 0.5rem;
  }

  .header--wave {
    position: absolute;
    bottom: 0;
    display: block;
  }

  .header--container--bell__size {
    /* background: red; */
    width: 5.5%;
    margin-right: 2rem;
    /* flex: 1; */
    position: relative;
  }

  .header--red--dot {
    width: 0.6rem !important;
    height: 0.6rem;
    background: red;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    right: 0;
  }

  .header--main__container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    line-height: 0.1px;
  }

  .header--user--logeddin__container {
    flex: 1.8;
    color: white;
    padding-left: 1rem;
  }

  .header--container__mobile {
    overflow: hidden;
  }
}
