.header--button--nav--notLogin__style button:first-child {
  background-color: transparent;
  border: 1px solid var(--purple) !important;
  color: var(--purple);
}

.header--button--nav--notLogin__style button:last-child {
  background-color: var(--purple);
  border: 1px solid var(--purple) !important;
  color: white;
}

.mobile__style {
  background: white;
  position: relative;
  border-bottom-right-radius: 20px;
}

.header--wave {
  display: none;
}

.header--icon {
  cursor: pointer;
}

.header--image--popup__size {
  background-image: url("../../assets/vectors/rectangle.png");
  height: 20vh;
  background-size: cover;
  /* background: red; */
  /* background: red; */
  width: 30vh;
  height: 30vh;
  background-repeat: no-repeat;
  top: 30px;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.188);
  /* right: 1px; */
  left: -100px;
  z-index: 1;
  position: absolute;
}

.nav-item {
  position: relative;
}

.header--icon--lggedin__size {
  width: 80%;
}

@media only screen and (max-width: 600px) {
  .header--icon--lggedin__size {
    display: none;
  }

  .mobile__none {
    display: none;
  }

  .navbar-brand {
    height: 9vh;
  }

  .header--logo--image__size img {
    width: 20vw !important;
  }

  .mobile__style {
    background-image: url("../../assets/images/header_background.png");
    position: relative;
    border-bottom-right-radius: 20px;
    padding-top: 5rem;
    width: 100vw !important;
    padding-bottom: 0.5rem;
  }

  .header--wave {
    position: absolute;
    bottom: 0;
    display: block;
  }

  .header--container--bell__size {
    /* background: red; */
    width: 5.5%;
    margin-right: 2rem;
    /* flex: 1; */
    position: relative;
  }

  .header--red--dot {
    width: 0.6rem !important;
    height: 0.6rem;
    background: red;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    right: 0;
  }

  .header--main__container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    line-height: 0.1px;
  }

  .header--user--logeddin__container {
    flex: 1.8;
    color: white;
    padding-left: 1rem;
  }
}
