@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  /* background: #e5e5e5; */
}
.email--verif__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.green_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: #3bb19b;
  border-radius: 20px;
  width: 180px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.verified--container {
  border: 4px solid gray;
  border-radius: 20px;
  height: 80vh;
  width: 50vw;
}

@media (max-width: 575.98px) {
  /* * {
        background: #e5e5e5;
      } */
  .col-left-ea {
    display: none;
  }
}
