@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.footer {
  background-color: #5e50a1;
  padding: 40px 5vw !important;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  color: #ffffff;
}
.footer_text {
  margin: 20px 0px 50px;
}
.footer_main_container {
  border-bottom: 2px solid white;
  margin: 0 !important;
  padding: 0 !important;
}
.footer_title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 28px;
  color: #ffffff;
}
