@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.footer {
  background-color: #5e50a1;
  padding: 10px 5vw !important;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  color: #ffffff;
}
.footer_text {
  margin: 30px 0px;
}
.footer_main_container {
  border-bottom: 2px solid white;
}
