@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.signinRecruiter--container {
  background: #f6f7f8;
  max-width: 100%;
  max-height: 100%;
}

::placeholder {
  color: #858d96 !important;
  font-size: 14px !important;
}

.signinRecruiter--page--second--form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5rem !important;
  padding-right: 3rem !important;
}

.signinRecruiter--from input {
  padding: 0.7rem 1rem;
  border: 1px solid #e2e5ed !important;
}

.signinRecruiter--page__container {
  height: 120vh;
}

.signinRecruiter--page--first__container {
  background-image: linear-gradient(
      to right,
      rgba(94, 80, 161, 0.8),
      rgba(94, 80, 161, 0.8)
    ),
    url("../../assets/images/bannersign.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.signinRecruiter--from label {
  font-size: 12px;
  color: #9ea0a5;
}

.singinRecruiter--forgot--password__style {
  text-decoration: none;
  color: black;
}

.signinRecruiter--button__style {
  font-weight: 700 !important;
}

/* .signinRecruiter--page--first {
  border: 1px solid black !important;
  background-image: linear-gradient(
      to right,
      rgba(94, 80, 161, 0.8),
      rgba(94, 80, 161, 0.8)
    ),
    url("../../assets/images/bannersign.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

/* .signinRecruiter--page__container div:last-child { */
/* border: 1px solid black; */
/* } */
.singinRecruiter--forgot--password__style {
  cursor: pointer;

  justify-content: right;
  text-align: right;

  margin-left: 350px;
}
.signinRecruiter--content__style {
  font-weight: 700;
  color: white;
  font-size: 44px;
  list-style: 70px;
}

.signinRecruiter--content__container {
  height: 50%;
  display: flex;
  align-items: right;
}

@media (max-width: 575.98px) {
  /* * {
    background: #F6F7F8;
  } */

  .signinRecruiter--page--first__container {
    display: none;
  }

  .signinRecruiter--page--second__container h1,
  .signinRecruiter--page--second__container p {
    display: none;
  }

  .signinRecruiter--page--second--form__container {
    padding: 0 !important;
  }

  .signinRecruiter--title--login__show {
    display: block !important;
  }

  .signinRecruiter--secondTitle--login__show {
    display: block !important;
  }

  .signinRecruiter--page__container {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
}
