@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container-auth {
  margin: 20px 70px;
}
.row-auth {
  /* width: 1200px; */
  /* margin: -100px; */
  /* margin: 0 -200px; */
  height: 600px;
}
.col-left-rec {
  background-image: url("../../assets/images/bgauth.png");
  object-fit: cover;
  background-repeat: no-repeat;
  /* margin: 0 20px; */
  margin: 40px 0;
}
.logo-auth {
  width: 100px;
}
.desc-left {
  background: transparent;
  /* text-align: center; */
  margin: 100px 50px 0 50px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 70px;
  color: #ffffff;
  /* justify-content: center; */
}
.bg-auth {
  width: 100%;
  height: 620px;
}
.auth-right {
  margin: 0 20px 30px 20px;
}
.title-auth {
  font-weight: 600px;
  font-size: 32px;
  font-family: "Open Sans";
  /* margin-bottom: -5px; */
}
.desc-auth {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  width: 570px;
  height: 50px;
  color: #46505c;
  padding-right: 20px;
  margin-bottom: -10px;
}
.label {
  margin-bottom: 5px;
  font-size: 12px;
  margin-top: 10px;
}
input {
  width: 100%;
  font-size: 5px;
  padding: 10px 20px;
  background: white;
  /* border: none; */
  /* margin-bottom: 20px; */
}
input,
input::placeholder {
  font: 15px/3 sans-serif;
}
.ask {
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: end;
  color: #1f2a36;
  margin-top: 15px;
}
.footer-auth {
  text-align: center;
  margin-top: 20px;
}
.footer-auth a {
  text-decoration: none;
  color: #fbb017;
}
@media (max-width: 575.98px) {
  /* * {
    background: #e5e5e5;
  } */
  .col-left-rec {
    display: none;
  }
  .col-right-rec {
    width: 800px !important;
    padding: 0;
    /* margin-left: 40px !important; */
  }
  .auth-right {
    width: 100% !important;
    margin: 0;
  }
  .desc-auth {
    padding-right: 140px !important;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .title-auth {
    font-weight: 200px;
    font-size: 30px;
    font-family: "Open Sans";
    /* margin-bottom: -5px; */
  }
  .ask,
  .footer-auth {
    font-size: 12px;
  }
}
